/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }
/*BARVY
tmavá #223843
světlý text #EFF1F3
světlá růžová pozadí #D8B4A0
tmavá růžová boxy #D77A61
šedivá světlá pozadí #DBD3D8
*/
h1 {
    text-align: center;
    padding-top: 30px;
    color: #D77A61;
}
nav a {
    text-decoration: none;
    color: #EFF1F3;
    margin: 0 20px;
    
}
a:hover {
    color:#D77A61;
}
nav {
    background-color: #223843;
    padding: 20px;
    text-align: center;
    margin: auto;
    width: 90%;
    border-radius: 10px;
}
.medailonek {
    display: block;
    background-color: #DBD3D8;
    margin: auto;
    width: 60%;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}
.medailonek img {
    width: 30%;
    height: 30%;
    position: relative;
    border-radius: 50%;
    border-style: dotted;
    border-color: #223843;
    margin: auto;
    margin-top: 50px;
}
p {
    padding: 30px;
}
.kontakt {
    display: flex;
    justify-content: center;
    background-color: #223843;
    border-radius: 10px;
    width: 90%;
    height: 60px;
    margin: auto;
    align-items: center;
}
.odkaz img {
    padding: 20px;
    border-radius: 50px;
    height: 70px;
}

.kontejner {
    display: flex;
    width: 60%;
    margin: auto;
    flex-basis: 150px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 20px;
}
.kontejner img {
    border-radius: 50%;
    border-style: dotted;
    border-color: #223843;
    width: 200px;
    height: 200px;
}
.zvire {
    flex-basis: 250px;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-color: #DBD3D8;
    margin: 20px;
}
.stramberk {
    display: flex;
    background-color: #DBD3D8;
    justify-content: center;
    border-radius: 20px;
    width: 60%;
    margin: auto;
    padding: 20px;
}
.stramberk img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}


