/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }
/*BARVY
tmavá #223843
světlý text #EFF1F3
světlá růžová pozadí #D8B4A0
tmavá růžová boxy #D77A61
šedivá světlá pozadí #DBD3D8
*/
h1 {
    text-align: center;
    padding-top: 30px;
    color: #D77A61;
}
nav a {
    text-decoration: none;
    color: #EFF1F3;
    margin: 0 20px;
    
}
a:hover {
    color:#D77A61;
}
nav {
    background-color: #223843;
    padding: 20px;
    text-align: center;
    margin: auto;
    width: 90%;
    border-radius: 10px;
}
.medailonek {
    display: block;
    background-color: #DBD3D8;
    margin: auto;
    width: 60%;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}
body img {
    width: 30%;
    height: 30%;
    position: relative;
    border-radius: 50%;
    border-style: dotted;
    border-color: #223843;
    margin: auto;
    margin-top: 50px;
}
p {
    padding: 30px;
}
footer {
    background-color:#223843;
    padding: 20px;
    margin: auto;
    width: 90%;
    height: 60px;
    border-radius: 10px;
    color: #DBD3D8;
    position: relative;
}
.facebook {
    position: relative;
    height: 100px;
    width: 100px;
    top:-55px;
}
.email {
    position: relative;
    height: 100px;
    width: 100px;
    top:-155px;
    left: 55px;
}

.Hoki {
    
}